<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.boys.quizy_app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" 
         >
        <service
            android:name=".MusicService"
            android:enabled="true" />

        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation"
   			android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation"
   			android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:configChanges="orientation"
   			android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:configChanges="orientation"
   			android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoadGameActivity"
            android:label="@string/title_activity_load_game"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:configChanges="orientation"
   			android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:configChanges="orientation"
   			android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
